body {
  background-color: rgb(4, 13, 18);
  display: flex;
  flex-direction: row;
  padding: 1%;
  color: white;
  font-family: sans-serif;
  cursor: default;
  overflow: hidden;
}

.menu {
  position: absolute;
  left: 0%;
  top: 0%;
  background-color: rgb(24, 61, 61);
  padding: 10px;
  width: calc(150px + 7%);
  height: 100%;
}

.menuHeader {
  font-size: 2rem;
  font-weight: 900;
  padding: 10px;
}

.all {
  padding: 10px;
  font-size: 1.6rem;
  margin: 5px;
}

.all:hover {
  cursor: pointer;
  color: rgb(92, 131, 116);
}

.selected {
  color: rgb(92, 131, 116);
}

.settings {
  display: flex;
  position: absolute;
  left: calc(100% - 300px);
  top: 0%;
  width: 300px;
  height: 100%;
  background-color: rgb(24, 61, 61);
  transition: 0.2s;
  justify-content: center;
  align-items: center;
}

.settingsHidden {
  display: flex;
  position: absolute;
  left: calc(100% - 100px);
  top: 0%;
  width: 300px;
  height: 100%;
  transition: 0.2s;
  justify-content: center;
  align-items: center;
}

.settingsHidden>div:not(.toggle) {
  display: none;
}

.toggle {
  position: absolute;
  font-size: 50px;
  transform: rotate(90deg);
  margin: 10%;
  font-weight: 600;
  left: 0%;
  top: 0%;
}

.toggle:hover {
  cursor: pointer;
  color: rgb(92, 131, 116);
}

.statsOff {
  background-color: rgb(92, 131, 116);
  padding: 20px;
}

.statsOn {
  border: 2px solid rgb(92, 131, 116);
  padding: 20px;
}

.stats {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 25%;
  top: 25%;
  width: 50%;
  height: 50%;
  background-color: rgb(24, 61, 61);
  z-index: 20;
  border-radius: 5%;
}

.statsLayer1,
.statsLayer2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
}

.statsSurvival,
.statsTime,
.statsTotal {
  font-size: 30px;
  height: 100px;
  width: 100%;
  background-color: rgb(04, 51, 61);
  display: flex;
  justify-content: center;
  align-items: center;
}

.add,
.sub,
.multi,
.div {
  font-size: 20px;
  height: 100px;
  width: 100%;
  background-color: rgb(04, 51, 61);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid rgb(24, 61, 61);
}

.statsLayer1>div:hover {
  background-color: rgb(24, 61, 61);
}

.statsLayer2>div:hover {
  background-color: rgb(24, 61, 61);
}

.viewStats {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.viewTotal {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: rgb(92, 131, 116);
  position: absolute;
  width: 20%;
  height: 20%;
  left: 40%;
  top: 40%;
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 5%;
}

.headerWrapper {
  position: absolute;
  width: 20%;
  height: 20%;
  left: 40%;
  top: 19%;
  padding: 1%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.header2 {
  font-size: 30px;
  font-weight: 900;
  padding: 5%;
}

.wrapper>div {
  font-size: 2vw;
  background-color: rgb(24, 49, 59);
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none !important;
  background-color: white;
}

.time {
  margin-right: 0.5vh;
  border-radius: 5%;
}

.surv {
  margin-left: 0.5vh;
  border-radius: 5%;
}

.wrapper>div:hover {
  transition: 0.2s;
  color: rgb(92, 131, 116);
  z-index: 10;
  box-shadow: 0px 0px 0px 4px rgb(24, 49, 59);
}

.modeWrapper {
  width: 40%;
  height: 80%;
  position: absolute;
  left: 30%;
  top: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.input,
.output {
  width: 25vw;
  height: 10vh;
  font-size: 10vh;
  text-align: center;
}

.score {
  font-size: 3vw;
  position: absolute;
  top: 1%;
  left: 96%;
}

.configWrapper {
  width: 40%;
  height: 50%;
  position: absolute;
  left: 30%;
  top: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 4rem;
}

.plusEasy,
.plusMedium,
.plusHard {
  padding: 1vw;
}

.plusEasy:hover {
  color: lightgreen;
}

.plusMedium:hover {
  color: yellow;
}

.plusHard:hover {
  color: lightcoral;
}

.lost {
  font-size: 3rem;
  position: absolute;
  height: 20%;
  width: 20%;
  left: 40%;
  top: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lostButton {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding: 10%;
}

.retry:hover {
  color: lightgreen;
}

.quit:hover {
  color: lightcoral;
}

.timer {
  background-color: lightcoral;
  font-family: sans-serif;
  text-align: center;
  vertical-align: middle;
}